<div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px">
  <div
    fxFlex="35%"
    class="attribute"
    style="font-family: 'Avenir Next Rounded Pro Medium'; font-weight: bold"
  >
    Département :
  </div>
  <div fxFlex class="attribute-value">
    {{ descriptiveModel!.properties["departement"] }}
  </div>
</div>

<div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px">
  <div
    fxFlex="35%"
    class="attribute"
    style="font-family: 'Avenir Next Rounded Pro Medium'; font-weight: bold"
  >
    Arrondissement :
  </div>
  <div fxFlex class="attribute-value">
    {{ descriptiveModel!.properties["arrondissement"] }}
  </div>
</div>

<div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px">
  <div
    fxFlex="35%"
    class="attribute"
    style="font-family: 'Avenir Next Rounded Pro Medium'; font-weight: bold"
  >
    Date de l'Intervention :
  </div>
  <div fxFlex class="attribute-value">
    {{ descriptiveModel!.properties["dateIntervention"] }}
  </div>
</div>

<div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px">
  <div
    fxFlex="35%"
    class="attribute"
    style="font-family: 'Avenir Next Rounded Pro Medium'; font-weight: bold"
  >
    Acteur :
  </div>
  <div fxFlex class="attribute-value">
    {{ descriptiveModel!.properties["acteur"] }}
  </div>
</div>

<div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px">
  <div
    fxFlex="35%"
    class="attribute"
    style="font-family: 'Avenir Next Rounded Pro Medium'; font-weight: bold"
  >
    Secteur de l'Intervention :
  </div>
  <div fxFlex class="attribute-value">
    {{ descriptiveModel!.properties["secteurIntervention"] }}
  </div>
</div>

<div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px">
  <div
    fxFlex="35%"
    class="attribute"
    style="font-family: 'Avenir Next Rounded Pro Medium'; font-weight: bold"
  >
    Ménages Bénéficiaires :
  </div>
  <div fxFlex class="attribute-value">
    {{ descriptiveModel!.properties["menageBeneficiaire"] }}
  </div>
</div>

<div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px">
  <div
    fxFlex="35%"
    class="attribute"
    style="font-family: 'Avenir Next Rounded Pro Medium'; font-weight: bold"
  >
    Individus Bénéficiaires :
  </div>
  <div fxFlex class="attribute-value">
    {{ descriptiveModel!.properties["individusBeneficiaire"] }}
  </div>
</div>

<div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px">
  <div
    fxFlex="35%"
    class="attribute"
    style="font-family: 'Avenir Next Rounded Pro Medium'; font-weight: bold"
  >
    Latrines Construites :
  </div>
  <div fxFlex class="attribute-value">
    {{ descriptiveModel!.properties["latrinesConstruites"] }}
  </div>
</div>

<div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px">
  <div
    fxFlex="35%"
    class="attribute"
    style="font-family: 'Avenir Next Rounded Pro Medium'; font-weight: bold"
  >
    Points d'eau réparés :
  </div>
  <div fxFlex class="attribute-value">
    {{ descriptiveModel!.properties["pointsEau"] }}
  </div>
</div>

<div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px">
  <div
    fxFlex="35%"
    class="attribute"
    style="font-family: 'Avenir Next Rounded Pro Medium'; font-weight: bold"
  >
    Kits AME Distribués :
  </div>
  <div fxFlex class="attribute-value">
    {{ descriptiveModel!.properties["kitArticleDistribue"] }}
  </div>
</div>

<div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px">
  <div
    fxFlex="35%"
    class="attribute"
    style="font-family: 'Avenir Next Rounded Pro Medium'; font-weight: bold"
  >
    Kits Abris Distribués :
  </div>
  <div fxFlex class="attribute-value">
    {{ descriptiveModel!.properties["kitAbrisDistribue"] }}
  </div>
</div>

<div
  fxLayout
  class="descriptive-sheet-body"
  style="margin-bottom: 5px"
  *ngIf="descriptiveModel!.properties['resume'] !== null"
>
  <div
    fxFlex="35%"
    class="attribute"
    style="font-family: 'Avenir Next Rounded Pro Medium'; font-weight: bold"
  >
    Résumé :
  </div>
  <div fxFlex class="attribute-value">
    {{ descriptiveModel!.properties["resume"] }}
  </div>
</div>
